
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sh@re</span>
    <span class="example-spacer"></span>

      
    <mat-icon  routerLink="/" class="example-icon" matTooltip="Home"> home </mat-icon>
    <mat-icon  routerLink="/about" class="example-icon" matTooltip="About">people</mat-icon>
    <mat-icon  routerLink="/categories" class="example-icon" matTooltip="Notifications">favorite</mat-icon>
    <mat-icon  routerLink="/login" *ngIf="!username" class="example-icon" matTooltip="Login">perm_identity</mat-icon>
    
    <p *ngIf="username">{{username.uid}}</p>
    <img [src]="username.photoURL" routerLink="/settings" *ngIf="username" alt="avatar" class="avatar"  >

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
