mat-toolbar
{
    margin: 0px;
}
.navbar
{
    margin-left: 50px;
   
}
.avatar
{
    cursor: pointer;
    width:30px;
    height:30px;
    border-radius: 50%;
    
}

.example-icon {
    padding: 0 34px;
    cursor: pointer;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  