<mat-drawer-container>
<!-- <app-writepost *ngIf="description" [description]="des" ></app-writepost> -->
<mat-icon class="material-icons" (click)="openPopup()">create</mat-icon>
<br>
<br><br>
   
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
 


<mat-drawer #drawer class="example-sidenav" mode="side">
    <app-divcategory></app-divcategory>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  

<br> 
<br>

<div *ngFor="let p of posts">
  
<!-- {{p.payload.val()|json}} -->




  <app-postcard [card]="p.payload.val()"></app-postcard>
 
</div>

</mat-drawer-container>