

<mat-card>
    <mat-card-header>
      {{card.uid}}
        <img mat-card-avatar style="cursor:pointer;" (click)="getIndividualProfile(card.uid)" [src]="username.photoURL" *ngIf="username" >
        <mat-card-title>{{card.category}}</mat-card-title>
        <mat-card-subtitle>{{card.postCreated | date}}</mat-card-subtitle>
      </mat-card-header>
      <br>
      <mat-card-content>
          <p>
              {{card.post}}
              <img *ngIf="card.image" [src]="card.image" width="150px " height="250px">
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="OnClick(post)">LIKE  {{Likescount}}{{card.like}}</button>
           <button mat-button>SHARE</button>
          </mat-card-actions>
  <hr/>
  No.of Likes {{card.like}}

</mat-card>









<!-- <mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar [src]="username.photoURL" class="example-header-image" *ngIf="username">
      <mat-card-title>{{category}}</mat-card-title>
      <mat-card-subtitle>{{location}}, {{dateCreated | date}}</mat-card-subtitle>
<div class="materialmenu">               
                                         <button mat-icon-button [matMenuTriggerFor]="menu">
                                                          <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                        <mat-menu #menu="matMenu">
                                                          <button mat-menu-item>
                                                            <mat-icon>report_problem</mat-icon>
                                                            <span>report  </span>
                                                          </button>
                                                          <button mat-menu-item >
                                                            <mat-icon>  hide</mat-icon>
                                                            <span>Check voicemail</span>
                                                          </button>
                                                          <button mat-menu-item>
                                                            <mat-icon>notifications_off</mat-icon>
                                                            <span>Disable alerts</span>
                                                          </button>
                                                        </mat-menu>
                                                        
                                                      </div>

    </mat-card-header>
    <img mat-card-image [src]="photo" alt="Photo of a Shiba Inu">
    <mat-card-content>
      
      <p >
       {{des}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="OnClick()">LIKE  {{Likescount}}</button>
     <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  

    -->