    <mat-list-item role="listitem" style="color:black;"><b>Likes</b></mat-list-item>
    <hr>
    <div> 
      <mat-slide-toggle>We'll notify you when another person likes your post.</mat-slide-toggle> 
      </div>
      <br>
      <mat-list-item role="listitem" style="color:black;"> <b> Comment Preferences</b></mat-list-item>
      <hr>
      <div>
        <mat-slide-toggle>Allow other people to comment on your answers and posts.</mat-slide-toggle>
      </div>
      <br>
    <mat-list-item role="listitem" style="color:black;"> <b>  Comments</b></mat-list-item>
    <hr>
    <div> <mat-slide-toggle>We'll notify you when someone comment on your post.</mat-slide-toggle>
    </div>
    


   








