
<div class="cointainer">
    <div class="row">
    <mat-list  class="col-sm-1" role="list">
        <mat-list-item role="listitem" style="color:black;"> <b> Settings </b> </mat-list-item>
        <hr>
        <mat-list-item class="active" routerLink="/settings" role="listitem" style="color:black; cursor:pointer;">Account</mat-list-item>
        <mat-list-item role="listitem" routerLink="/settings/privacy" style="color:black; cursor:pointer;">Privacy</mat-list-item>
        <mat-list-item role="listitem" routerLink="/settings/notification" style="color:black; cursor:pointer;">Notification</mat-list-item>
      </mat-list>




<mat-grid-list class="col-sm-5" cols="1" rowHeight="12:1">
    <mat-list-item role="listitem" style="color:black;"><b>Privacy Settings</b></mat-list-item>
    <hr>
    <div> 
       <li> Allow other people to see when you are writing an post.</li>
       <li> Allow adult content in your feed. 
      </li></div>
     
     <br>
    <mat-list-item role="listitem" style="color:black;"> <b> Inbox Preferences</b></mat-list-item>
    <hr>
    <div> <li>Which registered users would you like to receive messages from?</li>
    <li>Allow any person on sh@re to send me messages.</li>
    <li>Allow any person on sh@re follow to send me messages.</li>
    <li>Allow no one to send me messages.</li></div>
    <br>
    <mat-list-item role="listitem" style="color:black;"> <b> Comment Preferences</b></mat-list-item>
    <hr>
    <div>
      <li>Allow other people to comment on your answers and posts.</li>
    </div>
    <br>
    <mat-list-item role="listitem" style="color:black;"> <b>Delete or Deactivate Your Account</b></mat-list-item>
    <div>
      <li>Deactivate Account</li>
      <li>Delete Account</li>
    </div>
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa


  </mat-grid-list>
</div>

 
</div>







