

    <mat-list-item role="listitem" style="color:black;"><b>Privacy Settings</b></mat-list-item>
    <hr>
    <div> 
      <mat-slide-toggle> Allow other people to see your post.</mat-slide-toggle><br>
      <mat-slide-toggle> Allow adult content in your feed. </mat-slide-toggle>
      </div>
     
     <br>
    <!-- <mat-list-item role="listitem" style="color:black;"> <b> Inbox Preferences</b></mat-list-item>
    <hr>
    <div> <mat-slide-toggle>Which registered users would you like to receive messages from?</mat-slide-toggle><br>
      <mat-slide-toggle>Allow any person on sh@re to send me messages.</mat-slide-toggle><br>
      <mat-slide-toggle>Allow any person on sh@re follow to send me messages.</mat-slide-toggle><br>
      <mat-slide-toggle>Allow no one to send me messages.</mat-slide-toggle></div>
    <br>
    <mat-list-item role="listitem" style="color:black;"> <b> Comment Preferences</b></mat-list-item>
    <hr>
    <div>
      <mat-slide-toggle>Allow other people to comment on your answers and posts.</mat-slide-toggle>
    </div>
    <br> -->
    <mat-list-item role="listitem" style="color:black;"> <b>Delete or Deactivate Your Account</b></mat-list-item>
    <div>
      <li>Deactivate Account</li>
      <li>Delete Account</li>
    </div>
    


 






