
<img [src]="username.photoURL" *ngIf="username" alt="user" class="avatar">{{username.displayName}}
<form (ngSubmit)="Create(post)" [formGroup]="post">

  <div class="form-group">
        <mat-form-field class="text"  >
        <textarea matInput placeholder="Write post" matTextareaAutosize matAutosizeMinRows="2"  formControlName="post"
        matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        
        <mat-form-field class="select" >
        <mat-select placeholder="Select Category" required formControlName="category">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let c of categories" [value]="c">
          {{c}}
        </mat-option>
        </mat-select>
        </mat-form-field>
        <!-- <input type="file" (change)="OnImageSelected($event)"  formControlName="imageUrl"> -->

        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Image
                </mat-panel-title>
                <mat-panel-description>
                  copy & paste Image URL
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-form-field>
                <input matInput (change)="OnImageSelected($event)"  formControlName="imageUrl" placeholder="URL">
              </mat-form-field>
              </mat-expansion-panel>
              </mat-accordion>



        </div>
<div class="buttons">
        <button mat-raised-button  >close</button>
    <button mat-raised-button  >Post</button>
    
  </div>
</form>










